<!-- ============================= TEAM ============================== -->
<section id="team">
  <div class="core-content two-column-holder double-padded double-padded-reduced">
    <div class="centered-wrap"><h3>Our Team</h3></div>

    <div class="two-columns extra-margin">
      <div class="team-member column-left">
        <div class="person-info">
          <%= image_tag("jon-professional-headshot.jpg",
                        alt: "Portrait of Jonathan",
                        class: "team-headshot professional-headshot") %>
          <%= image_tag("jon-fun-headshot.jpg",
                        alt: "Portrait of Jonathan",
                        class: "team-headshot fun-headshot") %>

          <div class="person-info-headers">
            <h3>Jonathan Lehr</h3>
            <h4>Venture Director</h4>
            <div class="team-social-links">
              <a href="http://www.linkedin.com/in/jlehr1" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="https://twitter.com/fendien" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF611;</span></a>
              <a href="http://www.nyetm.com" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF642;</span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">Bob has over 25 years of complex transactional & regulatory experience, as a strategy consultant, investor & compliance advisor. In various positions during his career, Bob has gained extensive substantive experience in government relations, real estate, insurance, healthcare, energy, finance, infrastructure and various related regulatory matters.</p>
        <p class="half-margin">Over the years, Bob has advised or structured public & private entities, including public-private partnerships & non-profits, investing billions in capital and doing business around the world, including virtually every U.S. jurisdiction, UK, Europe, Korea, India, China, Singapore, Japan, Australia, Canada, Mexico and Latin America.</p>
        <p class="half-margin">Bob holds degrees from Harvard Law School (Juris Doctor, cum laude), from Northwestern University (Bachelor of Arts, with distinction, majoring in Mathematical Methods & Economics), and from Harvard’s Kennedy School of Government (Masters in Public Policy, with emphasis on Government & Business Regulation). He also served as Editor-in-Chief of the Harvard Journal of Law & Public Policy.</p>
        <p class="half-margin">Among his civic & industry activities, Bob served or serves as co-chair of the Government Committee of the Metropolitan Planning Council (Chicago), Member of the Infrastructure Committee of World Business (Chicago), General Counsel/Member of the International Executive Committee of the Association of Foreign Investors in Real Estate (Washington, DC), Board Member/Statewide Coordinator, Landmarks Preservation Council of Illinois (Chicago & Springfield), Trustee/General Counsel, Preservation Action (Washington, DC) and Board of Advisors, Northwestern University, School of Education & Social Policy (Evanston).</p>
      </div>

      <div class="team-member column-right">
        <div class="person-info">
          <%= image_tag("monica-professional-headshot.jpg",
                        alt: "Portrait of Monica",
                        class: "team-headshot professional-headshot") %>
          <%= image_tag("monica-fun-headshot.jpg",
                        alt: "Portrait of Monica",
                        class: "team-headshot fun-headshot") %>

          <div class="person-info-headers">
            <h3>Monica Chambers</h3>
            <h4>Chief Product Officer</h4>
            <div class="team-social-links">
              <a href="http://www.linkedin.com/in/chambersmonica" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="https://twitter.com/IamMonix" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF611;</span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">Jim is responsible for developing and maintaining relationships with municipalities, investors, banks and OREO departments at Next Generation Development, LLC. Mr. Hughes has over 30 years of real estate experience including experience in land acquisition, land planning and entitlement, development, and sales and marketing.</p>
        <p class="half-margin">Prior to Next Generation, he joined his father and began his career with Wiseman Construction Company, as a construction superintendent after attending Colorado State University. In 1983, he became Vice President of Wiseman-Hughes Enterprises overseeing Construction and Sales & Marketing.</p>
        <p class="half-margin">Jim has an extensive history of overseeing the planning, development and consulting of land portfolios at Wiseman-Hughes. Possessing a prowess for the political and municipal landscape in land development, Jim has presented some of the Chicago area city managers with award-winning and best-use developments. Jim has served on the boards of Pullman Bank, and continues to serve on the Rush-Copley Board of Governors.</p>
      </div>
    </div>


    <div class="two-columns extra-margin">
      <div class="team-member column-left">
        <div class="person-info">
          <%= image_tag("day-professional-headshot.jpg",
                        alt: "Portrait of Day",
                        class: "team-headshot professional-headshot") %>
          <%= image_tag("day-fun-headshot.jpg",
                        alt: "Portrait of Day",
                        class: "team-headshot fun-headshot") %>

          <div class="person-info-headers">
            <h3>Day Jim&eacute;nez</h3>
            <h4>Design Director</h4>
            <div class="team-social-links">
              <a href="http://www.linkedin.com/in/dayjimenez" target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="https://twitter.com/dayjimenez" target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF611;</span></a>
              <a href="http://dribbble.com/dayjimenez" target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF660;</span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">John is the Senior Financial Executive of Next Generation Development, responsible for all financing, accounting, tax planning, HR, IT, and treasury operations.</p>
        <p class="half-margin">Prior to Next Generation, John was a founding partner and Chief Financial Officer of Wiseman-Hughes Enterprises, Inc., a large privately held land development and construction company, responsible for corporate and project financing, treasury and investment functions, financial reporting, internal audit, human resources, IT systems, taxation, forecasting & budgeting, risk management, property management, strategic and estate planning.</p>
        <p class="half-margin">He began his career in public accounting specializing in audit, tax and management services. John holds a Bachelor of Science in Accounting from St. Joseph’s College, is a Licensed Illinois Certified Public Accountant and Real Estate Broker. He is a member of The Illinois CPA Society, The Illinois Association of Realtors, and is a member and director of numerous corporate civic and charitable organizations.</p>
      </div>

      <div class="team-member column-right">
        <div class="person-info">
          <%= image_tag("pascal-professional-headshot.jpg",
                        alt: "Portrait of Pascal",
                        class: "team-headshot professional-headshot") %>
          <%= image_tag("pascal-fun-headshot.jpg",
                        alt: "Portrait of Pascal",
                        class: "team-headshot fun-headshot") %>

          <div class="person-info-headers">
            <h3>Pascal Schaary</h3>
            <h4>Operations Director</h4>
            <div class="team-social-links">
              <a href="http://www.linkedin.com/pub/pascal-schaary/6/359/890"  target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="https://twitter.com/pschaary"  target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF611;</span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">Antonio is our Senior Project Manager who works to structure transactions for all Next Generation affiliates, including Next Generation Development and Next Generation Capital Partners.</p>
        <p class="half-margin">Antonio has been in the commercial real estate industry for over 25 years and has a broad range of experience in a variety of product and property types, financing and ownership structures with domestic and international investment management experience.</p>
        <p class="half-margin">Prior to joining Next Generation, Antonio was the founder and principal of Graymont Asset Management, a boutique commercial real estate private investment firm focusing on value-add investment opportunities in the Chicago area and Southwestern Florida. Previously, Antonio was a Managing Director of Capital Markets for Stark Enterprises, a mixed-use development company based in Cleveland, Ohio. Prior to his tenure at Stark Enterprises, Antonio was an Executive Vice President of Trizec Office Properties (NYSE:TZN) and was a member of the firm’s management committee. Prior to joining Trizec in 1996, Antonio was a Vice President with LaSalle Partners, Ltd. (now Jones Lang LaSalle) where he provided investment management services for public and private institutional clients in the US and France.</p>
        <p class="half-margin">Antonio received his Bachelors of Science degree in Accounting from the Michigan State University and a Masters in Management from the Executive Masters Program at the Kellogg School of Management at Northwestern University. Antonio is a Certified Public Accountant in the State of Illinois.</p>
      </div>
    </div>
  </div>
</section>
