<!-- ============================= TEAM ============================== -->
<section id="team">
  <div class="core-content double-padded double-padded-reduced">
    <div class="centered-wrap"><h3>Our Team</h3></div>

    <div class="two-columns extra-margin">
      <div class="team-member column-left">
        <%= image_tag("jon-professional-headshot.jpg",
                      alt: "Portrait of Jonathan",
                      class: "team-headshot professional-headshot") %>
        <%= image_tag("jon-fun-headshot.jpg",
                      alt: "Portrait of Jonathan",
                      class: "team-headshot fun-headshot") %>

        <div class="person-info">
          <h3>Jonathan Lehr</h3>
          <h4>Venture Director</h4>
          <div class="team-social-links">
            <a href="http://www.linkedin.com/in/jlehr1" target="_blank" class="discrete">
              <span class="ss-social ss-icon">&#xF612;</span></a>
            <a href="https://twitter.com/fendien" target="_blank" class="discrete">
              <span class="ss-social ss-icon">&#xF611;</span></a>
            <a href="www.nyetm.com" target="_blank" class="discrete">
              <span class="ss-social ss-icon">&#xF642;</span></a>
          </div>
        </div>
        <p class="half-margin">Jonathan is a geek who dreams about how innovations in enterprise technology can improve the way business is done. Jonathan leads the NY Enterprise Tech Meetup and at Work&mdash;Bench invests in top early stage enterprise tech companies.</p>
      </div>

      <div class="team-member column-right">
        <%= image_tag("monica-professional-headshot.jpg",
                      alt: "Portrait of Monica",
                      class: "team-headshot professional-headshot") %>
        <%= image_tag("monica-fun-headshot.jpg",
                      alt: "Portrait of Monica",
                      class: "team-headshot fun-headshot") %>

        <div class="person-info">
          <h3>Monica Chambers</h3>
          <h4>Chief Product Officer</h4>
          <div class="team-social-links">
            <a href="http://www.linkedin.com/in/chambersmonica" target="_blank" class="discrete">
              <span class="ss-social ss-icon">&#xF612;</span></a>
            <a href="https://twitter.com/IamMonix" target="_blank" class="discrete">
              <span class="ss-social ss-icon">&#xF611;</span></a>
          </div>
        </div>
        <p class="half-margin">Monica is passionate about bringing together technology, industry, and entrepreneurship to deliver incredible products and extraordinary results. Monica is responsible for making Work&mdash;Bench a leader for the enterprise technology community.</p>
      </div>
    </div>


    <div class="two-columns extra-margin">
      <div class="team-member column-left">
        <%= image_tag("day-professional-headshot.jpg",
                      alt: "Portrait of Day",
                      class: "team-headshot professional-headshot") %>
        <%= image_tag("day-fun-headshot.jpg",
                      alt: "Portrait of Day",
                      class: "team-headshot fun-headshot") %>

        <div class="person-info">
          <h3>Day Jim&eacute;nez</h3>
          <h4>Design Director</h4>
          <div class="team-social-links">
            <a href="http://www.linkedin.com/in/dayjimenez" target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF612;</span></a>
            <a href="https://twitter.com/dayjimenez" target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF611;</span></a>
            <a href="http://dribbble.com/dayjimenez" target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF660;</span></a>
          </div>
        </div>
        <p class="half-margin">Day is a designer and maker who strives to solve problems through improved human experiences. He leads the integrated experience of all things Work&mdash;Bench, from digital, print, and spatial matters, and is a champion of design as a means for better enterprise tools.</p>
      </div>

      <div class="team-member column-right">
        <%= image_tag("pascal-professional-headshot.jpg",
                      alt: "Portrait of Pascal",
                      class: "team-headshot professional-headshot") %>
        <%= image_tag("pascal-fun-headshot.jpg",
                      alt: "Portrait of Pascal",
                      class: "team-headshot fun-headshot") %>

        <div class="person-info">
          <h3>Pascal Schaary</h3>
          <h4>Operations Director</h4>
          <div class="team-social-links">
            <a href="http://www.linkedin.com/pub/pascal-schaary/6/359/890"  target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF612;</span></a>
            <a href="https://twitter.com/pschaary"  target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF611;</span></a>
          </div>
        </div>
        <p class="half-margin">Pascal loves to help organizations run better. At Work&mdash;Bench he builds and fine-tunes the infrastructure to help his team and community succeed.</p>
      </div>
    </div>
  </div>
</section>
