<!-- ============================= TEAM ============================== -->
<section id="team">
  <div class="core-content two-column-holder double-padded double-padded-reduced">
    <div class="centered-wrap"><h3>Team</h3></div>

    <div class="two-columns extra-margin">
      <div class="team-member column-left">
        <div class="person-info">
          <%= image_tag("jon-professional-headshot.jpg",
                        alt: "Portrait of Jonathan",
                        class: "team-headshot professional-headshot") %>
          <%= image_tag("jon-fun-headshot.jpg",
                        alt: "Portrait of Jonathan",
                        class: "team-headshot fun-headshot") %>

          <div class="person-info-headers">
            <h3>Bob Fitzsimmons</h3>
            <h4>Venture Director</h4>
            <div class="team-social-links">
              <a href="http://www.linkedin.com/in/jlehr1" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="https://twitter.com/fendien" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF611;</span></a>
              <a href="http://www.nyetm.com" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF642;</span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">Bob has over 25 years of complex transactional &amp; regulatory experience, as a strategy consultant, investor &amp; compliance advisor. In various positions during his career, Bob has gained extensive substantive experience in government relations, real estate, insurance, healthcare, energy, finance, infrastructure and various related regulatory matters.<a href="#bob_fitzsimmons" rel="modal:open"> Read more</a></p>
      </div>

      <div class="team-member column-right">
        <div class="person-info">
          <%= image_tag("monica-professional-headshot.jpg",
                        alt: "Portrait of Monica",
                        class: "team-headshot professional-headshot") %>
          <%= image_tag("monica-fun-headshot.jpg",
                        alt: "Portrait of Monica",
                        class: "team-headshot fun-headshot") %>

          <div class="person-info-headers">
            <h3>Jim Hughes</h3>
            <h4>Chief Product Officer</h4>
            <div class="team-social-links">
              <a href="http://www.linkedin.com/in/chambersmonica" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="https://twitter.com/IamMonix" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF611;</span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">Jim is responsible for developing and maintaining relationships with municipalities, investors, banks and OREO departments at Next Generation Development, LLC. Jim has over 30 years of real estate experience including experience in land acquisition, land planning and entitlement, development, and sales and marketing.<a href="#jim_hughes" rel="modal:open"> Read more</a></p>
      </div>
    </div>


    <div class="two-columns extra-margin">
      <div class="team-member column-left">
        <div class="person-info">
          <%= image_tag("day-professional-headshot.jpg",
                        alt: "Portrait of Day",
                        class: "team-headshot professional-headshot") %>
          <%= image_tag("day-fun-headshot.jpg",
                        alt: "Portrait of Day",
                        class: "team-headshot fun-headshot") %>

          <div class="person-info-headers">
            <h3>John Kulczewski</h3>
            <h4>Design Director</h4>
            <div class="team-social-links">
              <a href="http://www.linkedin.com/in/dayjimenez" target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="https://twitter.com/dayjimenez" target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF611;</span></a>
              <a href="http://dribbble.com/dayjimenez" target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF660;</span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">John is the Senior Financial Executive of Next Generation Development, responsible for all financing, accounting, tax planning, HR, IT, and treasury operations. <a href="#john_kulczewski" rel="modal:open"> Read more</a></p>
      </div>

      <div class="team-member column-right">
        <div class="person-info">
          <%= image_tag("pascal-professional-headshot.jpg",
                        alt: "Portrait of Pascal",
                        class: "team-headshot professional-headshot") %>
          <%= image_tag("pascal-fun-headshot.jpg",
                        alt: "Portrait of Pascal",
                        class: "team-headshot fun-headshot") %>

          <div class="person-info-headers">
            <h3>Antonio Bismonte</h3>
            <h4>Senior Project Manager</h4>
            <div class="team-social-links">
              <a href="http://www.linkedin.com/pub/pascal-schaary/6/359/890"  target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="https://twitter.com/pschaary"  target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF611;</span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">Antonio is our Senior Project Manager who works to structure transactions for all Next Generation affiliates, including Next Generation Development and Next Generation Capital Partners.<a href="#antonio_bismonte" rel="modal:open"> Read more</a></p>
      </div>
    </div>
  </div>
</section>
